
    .custom-btn(){
        background-color: @btn-bg-color;
        margin: 0 15% 0 0;
        height: 45px;
        font-size: 2rem;
        border-radius: 10px;
        width: 100%;
        color: @white;}




        .h1style(){
            color: @btn-bg-color;
            font-size: 4rem;
            margin: 2% 0;
        }

        .border(){
            border: 1px sold red; 
        }