
    
        .button(@btbc:@btn-bg-color,@btm: 0 10% 0 0,@bth:40px,@btfz: 2rem,@btbr: 8px,@btw:28%,@btc:@sea-shell){
            background-color: @btbc;
            margin: @btm;
            height: @bth;
            font-size:@btfz;
            border-radius:@btbr;
            width:@btw;
            color: @btc;
        }



        .h1style(){
            color: @river-bend;
            font-size: 4rem;
            margin: 2% 0;
        }

        .border(){
            border: 1px sold red; 
        }